
.main2 {
    width: 100vh;
    position: static;
    height: 100vh;
    margin: auto;
}

.main2_container{
    position: sticky;
    margin: auto;
    width: 70%;
    padding-top: 5%;
    height: 100%;
}

.select-box{
    position: relative;
    display: block;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: aliceblue;opacity: 0.6 ;
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', 'Helvetica Neue', 'Segoe UI', 'Calibri', 'Arial', sans-serif;
    font-size: 18px;
    color: #60666d;
}

.drink_label{
    font-weight: bold;
    color: #9C866E;
}

.quantity_label{
    font-weight: bold;
    color: #9C866E;
    margin-top: 1rem;
}

.quantity_input{
    margin-left: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: aliceblue;opacity: 0.6 ;
    border-color: lightgray;
    border-width: 1px;
    border-style: solid;
}

.title2{
    color: #658354;
}

.submit_button{
    margin-top: 1.25rem;
    float: right;
    align-items: center;
    text-align: center;
    text-decoration: none;
    height: 2.0rem;
    width: 45%;
    border-radius: 10px;
    background-color: #4b6043;
    font-weight: bold;
    color: white;
    border: none;
    outline: none;
}

.submit_button:hover{
    background-color: white;
    color: #4b6043;
    transition: all 0.5s ease-in-out;
}

.rank_link{
    margin-top: 1.25rem;
    float: left;
    color: #4b6043;
    align-items: center;
}